@page "/"

<PageTitle>Index</PageTitle>

<h1>Howdy, .NET conf 2021!</h1>

<h2>Here is a counter component</h2>
<Counter IncrementAmount="9" ButtonText="Add 9"></Counter>

<h2>Fetch Data Component</h2>
<FetchData  />

